.bar {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.no-margin {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}